<template>
  <div class="devtestparallel">
    <p v-if="username"><strong>Parallel task grabbed user:</strong> {{ username }} <em>(hey there, happy coder!)</em></p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      parallelData: {}
    }
  },
  mounted: function () {
    this.GitLabAPI.get('user', {}, [this.parallelData, 'user'])
  },
  computed: {
    username: function () {
      if (this.parallelData.user) {
        return this.parallelData.user.name
      }
    }
  }
}
</script>