<template>
  <div class="devtest">
    <p v-if="downloading">Downloading from GitLab...</p>
    <p><strong>Projects grabbed:</strong> {{ projectsCount }}</p>
    <p><strong>Issues grabbed:</strong> {{ issuesCount }}</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      GitLab: {
        newIssue: {},
        newIssueFromCallback: {}
      }
    }
  },
  mounted: function () {
    this.GitLabAPI.registerStore(this.$store)
    this.GitLabAPI.get('projects', { membership: true, per_page: 100 }, [this.GitLab, 'projects'])
    this.GitLabAPI.get('issues', { per_page: 100 }, (response) => {
      this.$set(this.GitLab, 'issues', response.body)
    })
  },
  computed: {
    projectsCount: function () {
      if (this.GitLab.projects) {
        return this.GitLab.projects.length
      }
      return 'none yet...'
    },
    issuesCount: function () {
      if (this.GitLab.issues) {
        return this.GitLab.issues.length
      }
      return 'none yet...'
    },
    downloading: function () {
      if (typeof this.$store.state.GitLabAPI !== 'undefined') {
        return this.$store.state.GitLabAPI.downloading
      } else {
        return false
      }
    }
  }
}
</script>